{% extends "admin/base_site.html" %}
{% load i18n %}

{% block content %}
<h1>{% trans "Are you sure?" %}</h1>

<p>
  {% blocktrans %}
  Are you sure you want to delete the selected object?
  {% endblocktrans %}
</p>

<form method="post">{% csrf_token %}
  <div class="submit-row d-flex gap-3">
    <input type="submit"
           value="{% trans 'Yes, I’m sure' %}"
           class="btn btn-danger">

    <a href="../"
       class="btn btn-secondary">
      {% trans "No, take me back" %}
    </a>
  </div>
</form>
{% endblock %}
